.lightbox{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .9);
	z-index: 10;
	overflow: auto; /* L'image est scrollable si elle est trop grande */
	animation: lightboxIn .5s;
	transition: opacity .3s;
}

.lightbox.fadeOut{
	opacity: 0;
}

.lightbox__next,
.lightbox__prev{
	border: none;
	background: url(../img/lightbox/arrow.svg) center center / 16px 28px no-repeat;
	width: 50px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	margin-top: -14px;
	z-index: 11;
}



.lightbox__prev{
	right: auto;
	left: 0;
	transform: rotate(180deg);
}

.lightbox__close{
	width: 30px;
	height: 30px;
	border: none;
	/* 'background: url('...')' ne doit prendre qu'une seule ligne, sinon il ne s'affichera pas !*/
	background: url('data:image/svg+xml;utf8,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 2.14275L12.8573 0L7.5 5.35725L2.14275 0L0 2.14275L5.35725 7.5L0 12.8573L2.14275 15L7.5 9.64275L12.8573 15L15 12.8573L9.64275 7.5L15 2.14275Z" fill="white"/></svg>') center center / 100% 100% no-repeat transparent;
	position: fixed;
	top: 20px;
	right: 10px;
	z-index: 12;
}

.lightbox button{
	opacity: .5;
	cursor: pointer;
	transition: opacity .3s;
	text-indent: -5000px;
}

.lightbox button:hover{
	opacity: 1;
}

/* Conteneur Image */
.lightbox__container img{
	max-width: 100%; /* L'image ne dépasse pas */
	/*
	height: auto; /* L'image ne dépasse pas */
	animation: lightboxIn .5s;

	max-height: 100%;
}

.lightbox__container{
	display: flex;
	align-items: center; /* Centre l'image axe-V */
	justify-content: center; /* Centre l'image axe-H */
	margin-left: 50px;
	margin-right: 50px;
	/*
	min-height: 100vh; /* Centre l'image axe-H */
	height: 100vh;
}

.lightbox__loader{
	width: 38px;
	height: 38px;
	opacity: 0.5;
	background: url('../img/lightbox/loader.svg') center center no-repeat;
}

@keyframes lightboxIn{
	from {opacity: 0;}
	to {opacity: 1;}
}